[submodule "video2dataset"]
	path = video2dataset
	url = https://github.com/iejMac/video2dataset.git
[submodule "AnimateDiff"]
	path = AnimateDiff
	url = C:\\dev\\VideoTraining\\AnimateDiff
[submodule "webdataset"]
	path = webdataset
	url = git@github.com:IDGallagher/webdataset.git
